
.vs/.idea/.idea.AppClientes/.idea/encodings.xml
AppClientes.sln
.vs/ProjectEvaluation/appclientes.projects.v6.1
.vs/AppClientes/v17/.suo
.vs/ProjectEvaluation/appclientes.metadata.v6.1
.vs/AppClientes/v17/.futdcache.v2
.vs/AppClientes/FileContentIndex/read.lock
.vs/AppClientes/FileContentIndex/1fe5808a-55a4-4bd2-83b9-b5857bb79d68.vsidx
.vs/.idea/.idea.AppClientes/.idea/indexLayout.xml
.vs/AppClientes/DesignTimeBuild/.dtbcache.v2
AppClientes/bin/Debug/net7.0/clientes.txt
AppClientes/bin/Debug/net7.0/AppClientes.runtimeconfig.json
AppClientes/bin/Debug/net7.0/AppClientes.pdb
AppClientes/bin/Debug/net7.0/AppClientes.exe
AppClientes/bin/Debug/net7.0/AppClientes.dll
AppClientes/bin/Debug/net7.0/AppClientes.deps.json
AppClientes/AppClientes.csproj
AppClientes/obj/AppClientes.csproj.nuget.dgspec.json
AppClientes/obj/AppClientes.csproj.nuget.g.props
AppClientes/obj/AppClientes.csproj.nuget.g.targets
AppClientes/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
AppClientes/obj/Debug/net7.0/AppClientes.AssemblyInfo.cs
AppClientes/obj/Debug/net7.0/AppClientes.AssemblyInfoInputs.cache
AppClientes/obj/Debug/net7.0/AppClientes.assets.cache
AppClientes/obj/Debug/net7.0/AppClientes.csproj.AssemblyReference.cache
AppClientes/obj/Debug/net7.0/AppClientes.csproj.CoreCompileInputs.cache
AppClientes/obj/Debug/net7.0/AppClientes.csproj.FileListAbsolute.txt
AppClientes/obj/Debug/net7.0/AppClientes.dll
AppClientes/obj/Debug/net7.0/AppClientes.genruntimeconfig.cache
AppClientes/obj/Debug/net7.0/AppClientes.GlobalUsings.g.cs
AppClientes/obj/Debug/net7.0/apphost.exe
AppClientes/obj/Debug/net7.0/ref/AppClientes.dll
AppClientes/obj/project.assets.json
AppClientes/obj/project.nuget.cache
AppClientes/obj/Debug/net7.0/AppClientes.GeneratedMSBuildEditorConfig.editorconfig
AppClientes/obj/Debug/net7.0/refint/AppClientes.dll
AppClientes/obj/Debug/net7.0/AppClientes.pdb
AppClientes/obj/rider.project.restore.info
AppClientes/obj/project.packagespec.json
